@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
 


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border m-0 p-0 scroll-smooth;
  }

  body {
    font-family: "Poppins", sans-serif;

    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  html {
    @apply text-base;
  }
  
  h1, h2, h3, h4 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl
  }
  h3 {
  @apply text-4xl
  }
  h4 {
    @apply text-3xl
  }
  p {
    @apply text-base font-light leading-5;
  }
  main {
    @apply flex flex-grow justify-center items-center;
  }
  section {
    @apply flex flex-row justify-center items-center;
  }
}



@layer utilities {
  .--center-all {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  
/* ANIMATIONS */
  @keyframes slide-up {
    0% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-slide-up {
    animation: slide-up 0.4s ease-out; 
  }


  @keyframes slide-down {
    0% {
      transform: translateY(2rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-slide-down {
    animation: slide-down 0.4s ease-out; 
  }
}

tr.fc-scrollgrid-section.fc-scrollgrid-section-header.fc-scrollgrid-section-sticky {
    position: relative;
  z-index: 1;
}

.fc-scroller-harness {
  position: relative;
  z-index: 1;
}

.fc-scroller {
  position: relative;
  z-index: 1;
}

.sideitem {
  @apply hover:bg-slate-100 mx-1 rounded-md text-base;
}

@keyframes customBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.custom-bounce-delay-1 {
  animation: customBounce 1s infinite 0.1s;
}
.custom-bounce-delay-2 {
  animation: customBounce 1s infinite 0.3s;
}
.custom-bounce-delay-3 {
  animation: customBounce 1s infinite 0.6s;
}

